body {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color:#c9ccea;
  display: flex;
  width: 400px;
  height: 600px;
  background: #010101;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.timer {
  color: #fff;;
  font-size: 75px;
  font-weight: 200;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  
}

.buttRow{
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
}
.button {
  width: 80px;
  height: 80px;
  margin: 1px;
  border-radius:  50px ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.buttBorder {
  width: 80px;
  height: 80px;
  border:solid;
  border-color:#333333;
  border-radius:  50px;
  border-width: 1px;
  background-color: #010101;
  
}

.lapTable{
  display: flex;
  flex-direction:column;
  width: 400px;
  height: 200px;
  color: #FFF
}

.lapText {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-size: 20px;
}

.lap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}